.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  padding: 15px;
  color: var(--color-gray);

  &.main {
    margin-bottom: 10px;
    font-weight: bold;
  }

  &.sub {
    margin-bottom: 10px;
  }
}
